extends layout

block content
  -points = points || {}
  if errors
    ul
      for error in errors
        li= error.msg
        
  if points.length
     table
       tr
         th Name
         th latitude
         th longitude
         th edit
       each point in points
         tr
            td= point.name	
            td= point.latitude
            td= point.longitude
            tb
              a(href='parameters/'+ point.id) link
  else
    p No points yet :(
